my-favorite-color = #079319;

.country {

    &.china {

        .provence {

            &.jiang-xi {

                .city {

                    &.nan-chang {
                        color my-favorite-color;1 *
                        width  10rem;
                        height 10rem;
                    }
                }
            }
        }
    }
}